<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายละเอียดสินค้า</title>
    <link rel="stylesheet" href="/css/product-details.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>

        <main class="container">
        
        <div class="form-container">
            <div class="form-layout">
                <div class="form-left">
                    <div class="image-box">
                        <img src="<%= product.image_url %>">
                    </div>
                </div>
                <div class="form-right">
                    <h1><%= product.name %></h1>
                    <h2 class="form-title">รายละเอียดสินค้า:</h2>

                    <div class="input-group">
                        <label>ต้นทุน:</label>
                        <div class="input-wrapper-unit">
                            <input type="number" id="inputCost" class="input-light-blue" value="<%= product.cost_price %>" min="0" readonly>
                            <span class="unit-text">บาท</span>
                        </div>
                    </div>

                    <div class="input-group">
                        <label>ราคาขาย:</label>
                        <div class="input-wrapper-unit">
                            <input type="number" id="inputPrice" class="input-light-blue" value="<%= product.selling_price %>" min="0" readonly>
                            <span class="unit-text">บาท</span>
                        </div>
                    </div>

                    <div class="input-group">
                        <label>จำนวน:</label>
                        <div class="input-wrapper-unit">
                            <input type="number" id="inputPrice" class="input-light-blue" value="<%= product.total_stock %>" min="0" readonly>
                            <span class="unit-text">ชิ้น</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-actions">
                <button class="btn-save">✎ แก้ไขสินค้า</button>
            </div>

        </div>
    </main>

    <script src="/js/product-filter.js"></script>
</body>
</html>